
.banner {
    background: black;
    height: 70px;
    flex-direction: row;

}


.banner-img {
    float: left;
}

.item {
    min-height: 50px;
    justify-content: space-between;
    vertical-align: central;
    padding: 1%;
    display: inline-block;
}

.select {
    display: flex;
}

.container {
    margin: 10px 30px 10px 30px;
    text-align: center;
    vertical-align: central;
    min-height: 30px;
    min-width: 70px;
}

.events-list {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-container::after {
    content: "";
    clear: both;
    display: table;
    max-width: 50px;
    max-height: 60px;
    margin: 10px;
    background-color: ghostwhite;
}

.event-container {
    background-color: white;
    border-radius: 7px;
}

.banner {
    display: flex;
    justify-content: center;
    align-content: center;
}


.cost {
    text-align: center;
    font-size: 15px;
}

.event-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.property {
}

.source {
    text-align: center;
    font-size: 15px;
}


.date-option {
    text-align: center;
    font-size: 15px;
}


.date {
    text-align: center;
    font-size: 15px;
}

.emoji {
    text-align: center;
    font-size: 5px;
}


body {
    background-color: pink;
    text-align: center;
}