@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: pink;
}

.events-container {
    margin: 5px;
    display: flex;
    max-height: 80px;
    max-width: 80px;
    margin: 10px;
    background-color: ghostwhite;
}
    
.event {
    width: 400px;
    height: 200px;
}
